@using ViewModel
@model EmployeeEditViewModel
@{
    ViewBag.Title = "AddEmployee";
}

<h2>Add Employee</h2>
<div class="content">

    @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post))
    {
        @Html.LabelFor(e => e.Name)
        @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Name)
        <br />

        @Html.LabelFor(e => e.Phone)
        @Html.TextBoxFor(e => e.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Phone)
        <br />

        @Html.LabelFor(e => e.Address)
        @Html.TextBoxFor(e => e.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Address)
        <br />
        @Html.Label("Select Department")

        @Html.DropDownListFor(i => i.DepartmentID, new SelectList(ViewBag.Deps, "ID", "Name"), new { @class = "form-control" })

        <br />
        <input type="submit" value="Add Employee" class="btn btn-success" />
        @Html.ActionLink("Cancel", "All", new { @class = "btn btn-danger" });

    }



</div>




